<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108352259505-c9s20igafljcpv2uukccnevi24jh5ta3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108352259505-c9s20igafljcpv2uukccnevi24jh5ta3</string>
	<key>API_KEY</key>
	<string>AIzaSyBBrmJksbPUx2DO9D4mUkyMDBGq0hz5_Mg</string>
	<key>GCM_SENDER_ID</key>
	<string>108352259505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.judqueue.auranails</string>
	<key>PROJECT_ID</key>
	<string>auranails-bd2c3</string>
	<key>STORAGE_BUCKET</key>
	<string>auranails-bd2c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108352259505:ios:bc3fcbd49831818ec12990</string>
	<key>DATABASE_URL</key>
	<string>https://auranails-bd2c3.firebaseio.com</string>
</dict>
</plist>